---
import astro from '../../icons/astro.svg';
import {MajesticonsOpen} from "../../icons/Icons";
import React from "react";
import { MdiGithub, MdiLinkedin, RiBlueskyFill } from '../../icons/Icons.tsx'
import {BASE_PATH, filteredMenuItems, type MenuItem} from "../../common/constants";
import socratesLogo from '../../../public/images/socrates-logo.png';
import {eventState} from "../../common/constants";
import {EventState} from "../../common/types";

const footerData: {title: string, links: MenuItem[]}[] = [
    {
        title: 'Quick Links',
        links: filteredMenuItems
    },
    {
        title: 'Policies',
        links: [{'label': 'Cookie Policy', 'url': 'cookie-policy'}, {'label': 'Privacy Policy', 'url': 'privacy-policy'}]
    }
    ]

---
<footer class="px-md md:px-xl bg-white pt-12 md:pt-24 pb-6">
    <div class="max-w-6xl mx-auto gap-10 grid grid-cols-1 md:grid-cols-4">
        <a href={`${BASE_PATH}`} aria-label="Go to homepage">
            <div class="size-16 md:size-20 bg-no-repeat bg-contain bg-center"
                 style={`background-image: url(${socratesLogo.src});`}
            />
        </a>
        {footerData.map((item, index) => (
                <div class="flex flex-col items-start space-y-4">
                    <h3 class="text-lg font-bold">{item.title}</h3>
                    {item.links.map(link => (<a href={`${BASE_PATH}${link.url}`} class="text-sm mt-1 opacity-90">{link.label}</a>))}
                </div>
        ))}
        <div class="flex flex-col items-start space-y-6">
            <h3 class="text-lg font-bold">Follow Us</h3>
            <ul class="flex justify-start space-x-2">
                <li  class="size-8 bg-primary rounded text-white">
                    <a href='https://www.linkedin.com/company/socrates-italy/' target="_blank" rel="noopener noreferrer" class="size-full">
                        <MdiLinkedin className="size-full"/>
                    </a>
                </li>
                <!--<li  class="size-8 bg-primary rounded text-white">-->
                <!--    <a href='https://github.com/' target="_blank" rel="noopener noreferrer" class="size-full">-->
                <!--        <MdiGithub className="size-full"/>-->
                <!--    </a>-->
                <!--</li>-->
                <!--<li  class="size-8 bg-primary rounded text-white">-->
                <!--    <a href='https://bsky.app/' target="_blank" rel="noopener noreferrer" >-->
                <!--        <RiBlueskyFill className="size-full"/>-->
                <!--    </a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
    <p class="text-gray-500 text-sm mt-4xl text-center container mx-auto max-w-6xl">Published under the Apache License 2.0.</p>
</footer>
