---
import astro from 'src/assets/icons/astro.svg';
import {MajesticonsOpen} from "../../assets/icons/Icons";
import React from "react";
import { MdiGithub, MdiLinkedin, RiBlueskyFill } from '~/assets/icons/Icons.tsx'
import {BASE_PATH} from "../navbar/menu-items";

const footerData: {title: string, links: { text: string, url: string }[]}[] = [
    {
        title: 'Quick Links',
        links: [
            {'text': 'About Conference', 'url': 'about'},
            {'text': 'Our Speakers', 'url': 'speakers'},
            {'text': 'Event Schedule', 'url': 'speakers'}
        ]
    },
    {
        title: 'Policies',
        links: [{'text': 'Cookie Policy', 'url': 'cookie-policy'}, {'text': 'Privacy Policy', 'url': 'privacy-policy'}]
    }
    ]

---
<footer class="p-custom">
    <div class="border-t border-t-dark dark:border-t-muted container-custom gap-10 grid grid-cols-1 md:grid-cols-4 py-xl">
        <div
            class="object-cover w-42 h-10 bg-no-repeat -translate-y-1"
            style={{ backgroundImage: `url(${astro.src})` }}
        />
        {footerData.map((item, index) => (
                <div class="flex flex-col items-start space-y-4">
                    <h3 class="text-lg font-bold dark:text-light">{item.title}</h3>
                    {item.links.map(link => (<a href={`${BASE_PATH}/${link.url}`} class="text-sm mt-1 opacity-90 dark:text-light">{link.text}</a>))}
                </div>
        ))}
        <div class="flex flex-col items-start space-y-6">
            <h3 class="text-lg font-bold dark:text-light">Follow Us</h3>
            <ul class="flex justify-start space-x-2">
                <li  class="size-8 bg-primary rounded text-light">
                    <a href='https://linkedin.com/' target="_blank" rel="noopener noreferrer" class="size-full">
                        <MdiLinkedin className="size-full"/>
                    </a>
                </li>
                <li  class="size-8 bg-primary rounded text-light">
                    <a href='https://github.com/' target="_blank" rel="noopener noreferrer" class="size-full">
                        <MdiGithub className="size-full"/>
                    </a>
                </li>
                <li  class="size-8 bg-primary rounded text-light">
                    <a href='https://bsky.app/' target="_blank" rel="noopener noreferrer" >
                        <RiBlueskyFill className="size-full"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <p class="text-gray-500 text-sm mt-6 text-center container mx-auto max-w-6xl">&copy; 2025 YourCompany. All Rights Reserved.</p>
</footer>
